@model List<DoctorAppointments.Models.Appointment>
@{
    ViewBag.Title = "Cancel Appointments";
}

<h2>Cancel Appointments</h2>
@Styles.Render("~/Content/cancel.css");
@Scripts.Render("~/bundles/jquery")

<table class="table">
    <tr>
        <th>Appointment ID</th>
        <th>Date</th>
        <th>Time</th>
    </tr>
    @foreach (var item in ViewBag.cancelAppointmentsdoc)
    {
        <tr>
            <td>@item.appointmentID</td>
            <td>@item.appointmentDate</td>
            <td>@item.startAppTime</td>
            <td>@Html.ActionLink("Cancel Appointment", "Delete", "Appointments", new {item.appointmentID}, htmlAttributes: null)</td>
        </tr>
        @*</tr>
        <tr class='clickable-row' onclick="DoAction(@item.appointmentID)">
            <td>
                @item.appointmentDate
            </td>
            <td>
                @item.startAppTime
            </td>
            <td>
                @item.appointmentID
            </td>

        </tr>*@
    }

</table>

@*<form>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Cancel</button>
    </div>
</form>*@

<!--
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
https://stackoverflow.com/questions/17147821/how-to-make-a-whole-row-in-a-table-clickable-as-a-link
-->

<script>
    $(document).ready(function () {
        $('tr').click(function () {
            //Check to see if background color is set or if it's set to white.
            if (this.style.background == "" || this.style.background == "white") {
                $(this).css('background', '#e6f0ff');
            }
            else {
                $(this).css('background', 'white');
            }
        });
    });

    var PostBackURL = '/Appointments/DeleteConfirmed';
    ///function DoAction(id) {
    //$.ajax({
    //    type: "POST",
    //    url: PostBackURL,
    //    data: "id=" + id,
    //    success: function (msg) {
    //        alert("Data Saved: " + msg);
    //    }
    //});
    //}/

</script>