@model List<DoctorAppointments.Models.Appointment>
@{
    ViewBag.Title = "PrevAppointments";

}

<h2>My appointment history</h2>

<table class="table" style="border-collapse: collapse; width: 100%; border: 1px solid #ddd;">
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Doctor</th>
        <th>Specialty</th>
        <th>State</th>
    </tr>
    
    
        @foreach (var item in ViewBag.previousAppointments)
           {
               <tr>
                   <td>
                       @item.appointmentDate
                   </td>
                   <td>
                      @item.startAppTime
                   </td>
                   <td>
                      @item.Doctor.name
                      @item.Doctor.surname
                   </td>
                   <td>
                       @item.Doctor.speciality
                   </td>
                   <td></td>
               </tr>
           }
    </table>